/* #region Default styles */
body {
  margin: 0;
  padding: 0 0 100px 0;
  font-family: sans-serif;
  overflow-x: hidden;
}
.App {
  text-align: center;
  position: relative;
}

/* #region cards slider */
.cards-slider-wrapper {
  display: flex;
  align-items: flex-end;
  position: absolute;
  transition:  600ms all;
  cursor: pointer;
  list-style-type: none;
  margin: 0;
  padding: 30px 0;
  width: 100%;
  //gap: 32px;
  overflow-x: hidden;
  div, li {
    opacity: 0.7;
    border-radius: 50%;
    transition:  600ms all;
    text-decoration: none;
    cursor: pointer;
    text-align: left;
    img {
      margin: 0 auto;
      display: block;
      border-radius: 50%;
    }
  }
}

.cards-slider {
  position: relative;
  margin: 0 auto;
}